<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wa<\>Codeur - About me</title>
</head>

<body>
    <div class="detel">
        <h1>I'M Wachiou <span>BOURAIMA</span></h1>
        <p id="about">Hello World!! I'm Wachiou BOURAIMA pronounced (Wasiu Burahima) <br /> a Junior web developer
            and
            software engineering student at
            African Leadership X <br /> || Microsoft Learn Student and DSN Ambassador.
        </p>
        <a href="https://cvdesignr.com/p/63e37bc2c9348" target="_blank">Downdload CV</a>
    </div>
</body>

</html>