<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="wasscodeur, wass, wassiou, wachiou, Desamos, Bouraima, BOURAIMA, WASSIOU, wAsiu, WasIOU, BOuraima, BURAHIMA, WassCodeur, WASSCODEUR, WACHIOU BOURAIMA, Wachiou Bouraima, Wachiou Bouraïma, BOURAÏMA">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="author" content="WassCodeur Wachiou BOURAIMA">
    <title>Wa<\>Codeur - WassFolio</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="../assets/styles/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="hero">
        <nav class="nav_menu">
            <a href="../index.html"><img src="../assets/images/logo.png" class="logo" alt="LOGO"></a>
            <button class="btn-menu-burger" onclick="openmenu()"> ☰ </button>
            <ul class="nav-list">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="Portfolio.html">PORTFOLIO</a></li>
                <li><a href="community.html">COMMUNITY</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="mailto:wachioubouraima56@gmail.com">HIRE ME</a></li>
            </ul>
        </nav>
        <nav class="nav_menu_bergur">

            <ul class="nav-list list_menu_bergur">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="Portfolio.html">PORTFOLIO</a></li>
                <li><a href="community.html">COMMUNITY</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="mailto:wachioubouraima56@gmail.com">HIRE ME</a></li>
            </ul>
        </nav>

    </div>
</body>
<script src="../assets/js/main.js"></script>

</html>